<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--Insertamos el titúlo importando el dato dinámico-->
	<title>EJS - <%= tituloWeb %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<%- include('navbar') %>